app = "echonotes0112"
primary_region = "sin"

[env]
  NODE_ENV = "production"
  PORT = "8080"
  DB_PATH = "/data/data.db"

[[mounts]]
  source = "data"
  destination = "/data"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
